body{
  background-color: white;
}
#root {
  width: 50%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  color: black;
  background-color: white;
}

#all ul{
  color: blue;
  list-style-type: none;
}

#all div{
  border: 2px solid;
}